# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Env
.env

# Git
.git
.gitignore
.github
.vscode/

# Tests & Dev
tests/
terraform/

# Local data / DB
chroma_db/
*.sqlite3

# ML / embeddings (VERY IMPORTANT)
*.bin
*.pt
*.onnx

# OS / misc
.DS_Store