fastapi
uvicorn

# Core
pydantic
python-dotenv
httpx

# LangChain
langchain
langchain-community
langchain-groq
langgraph
sqlparse==0.5.0


# Vector DB (light)
chromadb
fastembed

# Infra
redis
snowflake-connector-python
sse-starlette
prometheus-client